<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>labs{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="#" />
    {% block stylesheets %}
            <link href="{{ asset('/lib/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('/css/layout.css') }}" rel="stylesheet" type="text/css">
        {% block customCSS %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block navbar %}
        {% include '_navbar/navbar.html.twig' %}
    {% endblock %}
    {% block aside %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
    {% block javascripts %}
        {% block customJS %}{% endblock %}
        {% block noty %}{% endblock %}
    {% endblock %}
{% endblock %}
</body>
</html>
