{% extends('layout.html.twig') %}
{% set currentPage = "svg" %}
{% block content %}
    <div class="col-xs-9">
        <div id="draw_container">
            <svg id="block_container" style="width: 100%; height: 900px;" viewBox="0 0 1800 1000"></svg>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>
                <input class="radio_seat" type="radio" name="seat" value="circle" >
                circle |
            </label>
            <label>
                <input class="radio_seat" type="radio" name="seat" value="rect" >
                rect |
            </label>
            <label>
                <input class="radio_seat" type="radio" name="seat" value="seat" checked>
                seat
            </label>
        </div>
        <hr>
        <div class="form-group">
            <label class="label_slider col">margin <span id="counter_margin">0px</span></label>
            <input type="text" class="slider_margin" value="0">
        </div>
        <hr>
        <div class="form-group">
            <label class="label_slider col">rotate <span id="counter_rotate">0°</span></label>
            <input type="text" class="slider_rotate" value="0">
        </div>
        <hr>
        <div class="form-group">
            <label class="label_slider col">A <span id="counter_a">0</span></label>
            <input type="text" class="slider_a col" value="0">
        </div>
        <hr>
        <div class="form-group">
            <label class="label_slider col">Column <span id="counter_column">< 7.5 ></span></label>
            <input type="text" class="slider_column col" value="7.5">
        </div>
        <hr>
    </div>
{% endblock %}
{% block customCSS %}
    <link href="{{ asset('lib/slider/css/slider.css') }}" type="text/css" rel="stylesheet">
    <style>
        #block_container{
            border: 2px dashed #CCC;
        }
        .seat:hover{
            fill: #4da6db
        }
    </style>
{% endblock %}
{% block customJS %}
    <script
            src="https://code.jquery.com/jquery-3.2.0.min.js"
            integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('lib/slider/js/bootstrap-slider.js') }}"></script>
    <script>
        // ATTR
        var block = {{ block|json_encode()|raw }};
        var rayon = 20;
        var stroke = 3;
        var axe = 0.00;
        var column = 7.5; // countSeat/2
        var margin = 0;
        var angle = 0;
        var templateSeat = 'seat';
    </script>
    <script>
        // FUNCTION
        var getTemplateSeat = function(seat, iSeat, iRow){
            var template = '';
            var x =iSeat*(rayon*2)+rayon+stroke+(margin*iSeat);
            var col = iSeat-column;
            var y =(iRow*(rayon*2))+((col*col)*axe)+(margin*iRow);
            if(templateSeat == 'circle'){
                template += '<circle class="seat" cx="'+x+'" cy="'+y+'" r="'+rayon+'" stroke="#0079ff" stroke-width="'+stroke+'" fill="#54c6ff" />';
                var y = y-stroke+(rayon/2);
                template += '<text x="'+x+'" y="'+y+'" font-size="'+rayon*1.2+'" text-anchor="middle" fill="#0055ff">'+seat+' </text>';
            }
            if(templateSeat == 'rect'){
                x-=rayon;
                y-=rayon;
                template += '<rect class="seat" x="'+x+'" y="'+y+'" width="'+rayon*2+'" height="'+rayon*2+'" stroke="#0079ff" stroke-width="'+stroke+'" fill="#54c6ff" />';
                x+=rayon;
                y+=rayon*1.4;
                template += '<text x="'+x+'" y="'+y+'" font-size="'+rayon*1.2+'" text-anchor="middle" fill="#0055ff">'+seat+' </text>';
            }
            if(templateSeat == 'seat'){
                x-=rayon;
                y-=rayon;
                var Xcurve = x+rayon*2;
                var yCurve = y-20;
                var M = 'M '+x+' '+y; // x+stroke y
                var C =  'C '+x+' '+yCurve+', '+Xcurve+' '+yCurve+', '+Xcurve+' '+y; //'C x+stroke -rayon, 33 10, 33 30';
                var L = 'l 0 30 l-40 0 l 0 -30';
                template += '<path d="'+M+' '+C+' '+L+'" stroke="#0079ff" stroke-width="'+stroke+'" fill="#54c6ff"/>';
                x+=rayon;
                y+=rayon;
                var xRotate = x+stroke;
                var yRotate = y-rayon/2;

                template += '<text x="'+x+'" y="'+y+'" font-size="'+rayon*1.2+'" text-anchor="middle" fill="#0055ff" transform="rotate('+angle*-1+' '+xRotate+' '+yRotate+')">'+seat+' </text>';
            }

            return template;

        };
        var render = function(){
            var container = $('#block_container');
            var template = '';
            // init
            container.html(template);
            var height = (block.length*40)/2;
            var width = (15*40)/2;
            template = '<g id="block_group" transform = "rotate(' + angle + ' '+ width+' '+ height+')">';
            for(var iRow = 0; iRow < block.length; iRow++){
                var row = block[iRow];
                for(var iSeat = 0; iSeat < row.seats.length; iSeat++){
                    var seat = row.seats[iSeat];
                    template += getTemplateSeat(seat, iSeat, iRow);
                }
            }
            template += '</g>';
            container.html(template);
        };
    </script>
    <script>
        $(document).ready(function () {
            // INIT
            render();
            //EVENT
            $('.slider_a').slider({
                min: -2,
                max: 3,
                step: 0.01,
                value: 0
            }).on('slide', function(){
                axe = parseFloat($(this).val()).toFixed(2);
                $('#counter_a').html(parseFloat(axe).toFixed(2));
                render();
            });
            $('.slider_margin').slider({
                min: 0,
                max: 20,
                step: 1,
                value: 0
            }).on('slide', function(){
                margin = parseInt($(this).val());
                $('#counter_margin').html(margin+'px');
                render();
            });
            $('.slider_column').slider({
                min: 0,
                max: 15,
                step: 0.1,
                value: 7.5
            }).on('slide', function(){
                column = parseFloat($(this).val()).toFixed(2);
                $('#counter_column').html('<'+parseFloat(column).toFixed(2)+'>');
                render();
            });
            $('.slider_rotate').slider({
                min: -180,
                max: 180,
                step: 0.1,
                value: 0
            }).on('slide', function(){
                angle = parseFloat($(this).val());
                $('#counter_rotate').html(angle.toFixed(2)+'°');
                render();
            });
            $('.radio_seat').on('click', function(){
               templateSeat = $(this).val();
               console.log(templateSeat);
               render();
            });
        });
    </script>
{% endblock %}